.thard{
  cursor: pointer;
  /* background-color: rgb(191, 248, 186); */
  background-color: rgb(12, 150, 0);
  color: white;
}
.scroll{
  font-size: 17px;
}
.card{
  background-color: rgba(233, 255, 232, 0.74);
}



.text-color{
  color: rgba(0, 0, 0, 0.671);
}
.border-ed{
  border-radius: 10px !important;
}

@media screen and (max-width:780px){
  .scroll{
    font-size: 14px;
  }
}